<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>You need to provide the number of players and the name </h2>

<ion-list>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Number of players</ion-label>
    <ion-input type="number" [(ngModel)]="numPlayers"></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button (click)="enterNewGame()">Go into game</button>
  </ion-item>

</ion-list>
