<ion-card *ngIf="instruction">
  <ion-card-content>
    <ion-card-title>
      {{title}}
    </ion-card-title>
    <p>
      {{instruction}}
    </p>
  </ion-card-content>
</ion-card>


<ion-list>

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Number of players</ion-label>
    <ion-input type="number" [(ngModel)]="numPlayers"></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button (click)="enterNewGame()">Create new game!</button>
  </ion-item>

  <ion-item>
    <button ion-button (click)="login()">Login!</button>
  </ion-item>

</ion-list>
